{% extends "base.html" %}

  {% block body %}

<div class="container mt-5">
<form method ="POST" enctype="multipart/form-data"> 
  {% csrf_token %}
 
  <h2>Register</h2>
  <hr>
  {% if messages %}
  <div class="alert alert-primary" role="alert">
    {% for message in messages %}
    {{message}}
    {% endfor %}
  </div>
  {% endif %}
<form>
   
    <div class="mb-3">
      <label for="userid" class="form-label">Userid</label>
      <input type="text" class="form-control" name="userid" id="userid" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control"name="password" id="password">
    </div>
  
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</form>
{% endblock body %}